<!-- ko if: postsForPage().length === 0 -->
    <div class="alert alert-warning">
        <p>
            <strong>Oops!</strong>
            Looks like there's nothing here…
        </p>
    </div>
<!-- /ko -->

<div class="post-list" data-bind="foreach: { data: postsForPage(), as: 'post' }">
    <single-post params="post: post, short: true"></single-post>
</div>

<ul class="pagination" data-bind="if: pageCount() > 1">
    <li data-bind="css: { disabled: page() === 1 }">
        <a data-bind="attr: { href: goBackUrl() }">
            &laquo;
        </a>
    </li>
    <!-- ko foreach: _.range(1, pageCount() + 1) -->
        <li data-bind="css: { active: $data === $parent.page() } ">
            <a data-bind="attr: { href: $parent.goToUrl($data) }, text: $data"></a>
        </li>
    <!-- /ko -->
    <li data-bind="css: { disabled: page() === pageCount() }">
        <a data-bind="attr: { href: goForwardUrl() }">
            &raquo;
        </a>
    </li>
</ul>