<!-- ko if: _.isNull(post()) -->
    <div class="alert alert-warning">
        <p>
            <strong>Oops!</strong>
            Looks like there's nothing here…
        </p>
    </div>
<!-- /ko -->

<!-- ko if: !_.isNull(post()) -->
    <single-post params="post: post(), short: false"></single-post>
<!-- /ko -->
